<div class="container">
  <!-- No data message -->
  <p *ngIf="studyPlan.length <= 0" class="no-data text-center">No study plan added</p>

  <table class="table table-bordered" *ngIf="studyPlan.length > 0">
    <h2>The classes has been taken</h2>
    <thead class="table-success">
      <tr>
        <th scope="col">Department Code</th>
        <th scope="col">Course Number</th>
        <th scope="col">Course Name</th>
        <th scope="col">Course Grade</th>
        <th scope="col">Course Area</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sp of studyPlan; let i = index">
        <th scope="row">{{sp.dcode}}</th>
        <td>{{sp.cno}}</td>
        <td>{{sp.cname}}</td>
        <td>{{sp.grade}}</td>
        <td>{{sp.area}}</td>
      </tr>
    </tbody>
  </table>

  <h2>The recommended courses list</h2>
</div>
