<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">
  <h2>The courses that have been taken</h2>
  <p *ngIf="studyPlan.length <= 0" class="no-data text-center">No study plan added</p>

  <table class="table table-bordered" *ngIf="studyPlan.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Department Code</th>
        <th scope="col">Course Number</th>
        <th scope="col">Course Name</th>
        <th scope="col">Course Grade</th>
        <th scope="col">Course Area</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sp of studyPlan; let i = index">
        <th scope="row">{{sp.dcode}}</th>
        <td>{{sp.cno}}</td>
        <td>{{sp.cname}}</td>
        <td>{{sp.grade}}</td>
        <td>{{sp.area}}</td>
      </tr>
    </tbody>
  </table>

  <h2>The recommended courses list</h2>
  <p *ngIf="recommendedList.length <= 0" class="no-data text-center">Congrats! You have satisfies all reqirements</p>

  <table class="w3-table-all" *ngIf="recommendedList.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col" class="w3-center">Department Code</th>
        <th scope="col" class="w3-center">Course Number</th>
        <th scope="col" class="w3-center">Course Name</th>
        <th scope="col" class="w3-center">Course Area</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rm of recommendedList; let i = index">
        <th scope="row" class="w3-center">{{rm.dcode}}</th>
        <td>{{rm.cno}}</td>
        <td>{{rm.cname}}</td>
        <td>{{rm.area}}</td>
      </tr>
    </tbody>
  </table>

  <div class="col-xs-2">
    <button type="button" class="btn btn-danger" (click)="onClick()">
      <span class="glyphicon glyphicon-minus"aria-hidden="true"></span> Remove All Study Plans and go back to first page
    </button>
  </div>
</div>
